<!DOCTYPE html>
<html lang="zh">

@include("/common/_header.html"){}

<body class="page-body boxed-container">
	<nav class="navbar horizontal-menu navbar-fixed-top">
		<div class="navbar-inner">
			<div class="navbar-brand">
				<a href="/" class="logo"> <img
					src="/static/img/logo2x2.png" width="100%" alt=""
					class="hidden-xs"> <img src="/static/img/logo2x.png"
					width="100%" alt="" class="visible-xs">
				</a>
			</div>
			<div class="navbar-mobile-clear"></div>
		</div>
	</nav>
	<div class="page-container">
		<!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
		<div class="main-content" style="">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<!-- 关于项目 -->
						<h4 class="text-gray">关于项目</h4>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12">
									<blockquote>
										<p>恭喜你发现彩蛋</p>
										</br>
										<p>这是一个导航网站,收入了大部分常用的网站，希望能够解决到你频繁收藏网站的烦恼！</p>
										<p>如果你有更好的网站或者提议请联系我！</p>
									</blockquote>
								</div>
							</div>
							<!-- 关于作者 -->
							<h4 class="text-gray">关于作者</h4>
							<div class="row">
								<div class="col-sm-4">
									<div class="xe-widget xe-conversations box2 label-info"
										onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=2718064712&site=qq&menu=yes', '_self')"
										data-toggle="tooltip" data-placement="bottom" title=""
										>
										<div class="xe-comment-entry">
											<a class="xe-user-img"> <img
												src="http://cdns.zywhs.club/42730561c0b2c532.jpg"
												class="img-circle" width="40">
											</a>
											<div class="xe-comment">
												<a href="#" class="xe-user-name overflowClip_1"> <strong>Nikati</strong>
												</a>
												<p class="overflowClip_2">838486863\@qq.com</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="row">
										<div class="col-sm-12">
											<br />
											<blockquote>
												<p>这是一个导航网站 。如果你有更好的想法或需求，可以通过邮件与我联系，欢迎与我交流分享。</p>
												<p>
													<a href="https://github.com/Nikati/WebStack-Guns-NKT"
														marked="1"> GitHub开源项目 </a>
												</p>
											</blockquote>
										</div>
									</div>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Main Footer -->
			<footer class="main-footer sticky footer-type-1 fixed">
				<div class="footer-inner">
					<div class="footer-text">
						&copy; 2019 <a href="/"><strong>小毛驴</strong></a> design by <strong>Nikati</strong></a>
					</div>
					<div class="go-up">
						<a href="#" rel="go-top"> <i class="fa-angle-up"></i>
						</a>
					</div>
				</div>
			</footer>
		</div>
	</div>
</body>
</html>